# Visual Studio Code
.vscode/

# Python compiled and cache
__pycache__
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Virtual Environment
.venv
.venv/
.python-version

# Build
build/
dist/

# Tests and code coverage
coverage/
htmlcov
.coverage
coverage.xml
.pytest_cache
